
/* reset y clases comunes */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(20, 20, 20);
}

a{
  text-decoration: none;
  color: inherit;
}

section {
  padding: 4rem 2rem;
}


.titulo-informacion {
  margin-bottom: 1rem;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

/* header y nav */

header {
  padding: 2rem;
  background-image: radial-gradient( circle at 50% -7.71%, #c5eeff 0, #c8eeff 4.17%, #ccecff 8.33%, #d0ebff 12.5%, #d5eaff 16.67%, #d9e9ff 20.83%, #dee7ff 25%, #e4e6ff 29.17%, #e9e5ff 33.33%, #eee3ff 37.5%, #f2e2ff 41.67%, #f7e1fc 45.83%, #fbe0f9 50%, #ffdff5 54.17%, #ffdef2 58.33%, #ffdeee 62.5%, #ffdeea 66.67%, #ffdde5 70.83%, #ffdee1 75%, #ffdedd 79.17%, #ffdeda 83.33%, #ffdfd6 87.5%, #ffe0d3 91.67% );
}

nav {
  display: flex;
  justify-content: space-between; /*alineacion horizontal */
  align-items: center; /*alineacion vertical */
  
}


.titulo-logo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.contenedor-enlaces { 
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  
}

.enlace:hover{
  color: #ca537a;
}

.menu-hamburguesa { 
  display: none;
  color: rgb(11, 8, 8);
}

.cerrar-menu-hamburguesa {
  display: none;
}

/* home */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url("./img/home.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.titulo-home {
  text-align: center;
  color: rgb(250, 250, 250);
  font-size: 3rem;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;
}

.parrafo-home {
  font-size: 1.2rem;
  color: rgb(250, 250, 250);
  opacity: 0.9;
  margin-top: 2rem;
  }

  .titulo1 {
    text-align: center;
    font-size: 2rem; 
    color: #2d476c;
    margin-bottom: 2.5rem;
    }

  /* seccion nosotros */

.fila {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4rem;
  }

.fila img{ 
  width: 100%;
  }

.parrafo-nosotros {
  font-size: 1rem;
  }



  /* seccion destinos */

.destinos {
  background-color: rgb(255, 255, 255);
  }

.contenedor-destinos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  }

.titulo_destino {
  font-weight: 500;
  }

.contenedor-destino img {
  width: 100%;
  display: block;
  height: 70%;
  }

.boton-destino {
  display: inline-block;
  background-color: #ca537a;
  color: whitesmoke;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 3rem;
  transition: 0.4s;
  font-weight: 500;
  }
  
.boton-destino:hover {
  background-color:rgb(245, 220, 182);
  color: rgb(0, 0, 0);
  border: 1px solid #3c5b87;
  
  }


  .form-contacto {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(40, 0, 0, 0.6), rgba(40, 0, 0, 0.6)),
      url(./img/home.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titulo-contacto h1 {
    text-align: center;
    font-size: 4vmin;
    color: #fff;
  }
  
  section form {
    margin-top: 50px;
  }
  
  form {
    width: 90%;
    max-width: 700px;
  }
  
  .input-group {
    margin-bottom: 30px;
    position: relative;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 15px;
    color: white;
  }
  
  label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
  }
  
  button {
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -35px;
    font-size: 14px;
  }

  .titulo2{
    text-align: center;
    font-size: 2rem; 
    color: #f4f6f8;
    margin-bottom: 2.5rem;
  }

  /* pagina ny */
.home-ny {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url("./img/ny/papirne-foto-tapete.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  }

.contenedor-header {
  color: white;
  text-align: center;
}

.contenedor-header h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4vmin;
}

.contenedor-header h1 {
  font-size: 7vmin;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.explorar{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem;
  background-image: radial-gradient( circle at 50% -7.71%, #c5eeff 0, #c8eeff 4.17%, #ccecff 8.33%, #d0ebff 12.5%, #d5eaff 16.67%, #d9e9ff 20.83%, #dee7ff 25%, #e4e6ff 29.17%, #e9e5ff 33.33%, #eee3ff 37.5%, #f2e2ff 41.67%, #f7e1fc 45.83%, #fbe0f9 50%, #ffdff5 54.17%, #ffdef2 58.33%, #ffdeee 62.5%, #ffdeea 66.67%, #ffdde5 70.83%, #ffdee1 75%, #ffdedd 79.17%, #ffdeda 83.33%, #ffdfd6 87.5%, #ffe0d3 91.67%, #ffe1d0 95.83%, #ffe2ce 100% );
}

.boton-explora {
  padding: 0.5rem 1rem;
  background-color: #ca537a;
  border-radius: 30px;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  }

.boton-explora:hover {
  background-color:blanchedalmond;
  color: rgb(0, 0, 0);
  border:2px solid #000000 ;
  
  }

.titulo {
  text-align: center;
  font-size: 2.3rem; 
  color: #2d476c;
  }
  
.line {
  width: 150px;
  height: 4px;
  background: #ca537a;
  margin: 15px auto;
  border-radius: 0.3rem;

  }

.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article-card {
  background: white;
  border-radius: 20px;
  transition: all 0.3s;
}

.card-img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card-img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-content {
  padding: 2rem;
}

.article-content .card-title {
  margin-bottom: 1rem;
  color: #2d476c;
}

.article-content .card-info {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3c5b87;
  margin: 0;
}

.article-content .article-button {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article-content {
  padding: 2rem;
}

.article-content .article-button {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-content .card-title {
  margin-bottom: 1rem;
  color: #2d476c;
}

.article-content .card-info {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3c5b87;
  margin: 0;
}
.mas-informacion {
  background: #FAF8F2;
}

.mas-informacion .contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.mas-informacion .contenedor img {
  width: 100%;
}

.mas-informacion h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2.3rem; 
  color: #2d476c;
}

.article-card-secciones {
  background: white;
  border-radius: 20px;
  transition: all 0.3s;
}

.article-card-secciones:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
  }


.lugares {
  background: #f5f0df;
}

.comidas {
  background: #FAF8F2;
}

.vida-nocturna{
  background: #f5f0df;
}


/* footer paginas-destinos */


.productos-relacionados {
  background: #FAF8F2;
}

.productos-relacionados .galeria {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.productos-relacionados .galeria img {
  width: 100%;
  height: 100%;
}

.productos-relacionados img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
  
}

.boton-volver {
  display: inline-block;
  margin-top: 2rem;
  transition: 0.2s;
}

.boton-volver:hover {
  color: rgb(166, 105, 179);
}

.flecha-volver {
  font-size: 1.5rem;
  vertical-align: middle;
}

  /*footer general */
.footer {
  color: rgb(0, 0, 0);
  padding: 2rem;
  background-image: radial-gradient( circle at 50% -7.71%, #c5eeff 0, #c8eeff 4.17%, #ccecff 8.33%, #d0ebff 12.5%, #d5eaff 16.67%, #d9e9ff 20.83%, #dee7ff 25%, #e4e6ff 29.17%, #e9e5ff 33.33%, #eee3ff 37.5%, #f2e2ff 41.67%, #f7e1fc 45.83%, #fbe0f9 50%, #ffdff5 54.17%, #ffdef2 58.33%, #ffdeee 62.5%, #ffdeea 66.67%, #ffdde5 70.83%, #ffdee1 75%, #ffdedd 79.17%, #ffdeda 83.33%, #ffdfd6 87.5%, #ffe0d3 91.67% );
  }
  
.redes-sociales {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  }
  
.redes-sociales i {
  font-size: 1.5rem;
  opacity: 0.7;
  transition: 0.4s;
  }
  
.redes-sociales i:hover {
  opacity: 1;
  }
  
  /* RESPONSIVE */
@media screen and (max-width: 768px) {
  .contenedor-enlaces {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(18, 18, 18);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 80px 0px;
    transition: 0.4s;
    }
  
  .contenedor-enlaces.mostrar {
    right: 0;
    color: rgb(250, 250, 250);
    }
  
  .menu-hamburguesa {
    display: block;
    font-size: 2.5rem;
    }
  
  .cerrar-menu-hamburguesa {
    display: block;
    font-size: 2.5rem;
    color: rgb(250, 250, 250);
    }
  
  .fila {
    grid-template-columns: 1fr;
    gap: 2rem;
    }
  .contenedor-destinos {
    grid-template-columns: repeat(2, 1fr);
    }
  .mas-informacion .contenedor {
    grid-template-columns: 1fr;
    }
  .productos-relacionados .galeria {
    grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media screen and (max-width: 570px) {
  .contenedor-destinos {
    grid-template-columns: 1fr;
    }
  .titulo-home {
    font-size: 2rem;
    }
  }